/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wp-megamenu-wpmm-menu {
	border: 1px dotted #f00;

	ul.wpmm_list_menu {
		list-style: none;
		padding: 0;
		display: flex;

		li.is_wpmm {
			background: lightcoral;
		}
	}
}