/* wpmm item input */
.wpmm-item-grid {
    display: grid;
}

/* wpmm item input */
.wpmm-item-row {
    display: flex;
}

.wpmm-item-col-12 {
    width: 100%;
}

.wpmm-item-col-6 {
    width: 50%;
}

.wpmm-item-col-4 {
    width: 33.3333333%;
}

.wpmm-item-col-3 {
    width: 25%;
}

.wpmm-item-col-2 {
    width: 16.666666%;
}

.wpmm-item-col-5 {
    width: 37%;
}

.wpmm-item-col-7 {
    width: 57%;
}

.wpmm-item-col-8 {
    width: 66.666667%;
}

.wpmm-item-col-10 {
    width: 83.333333%;
}

.wpmm-flex-column {
    flex-direction: column;
}

.wpmm-wrap {
    flex-wrap: wrap;
}

.wpmm-h-100 {
    height: 100%;
}

.wpmm-space-between {
    justify-content: space-between;
}

.wpmm-item-grow,
.wpmm-item-row .wpmm-item-field {
    flex-grow: 1;
}

.wpmm-align-center {
    align-items: center;
}

.wpmm-grid-4 {
    grid-template-columns: auto auto auto auto;
}

.wpmm-gap-1 {
    gap: 1em;
}

.wpmm-gap-2 {
    gap: 2em;
}

.wpmm-item-field {
    margin-bottom: 20px;
}

.wpmm-item-field label {
    display: inline-block;
    margin-bottom: 5px;
}

.wpmm-item-field .wpmm-item-row>label {
    white-space: nowrap;
    margin-right: 5px;
}

.input-sm input[type=text] {
    padding-left: 5px;
    padding-right: 5px;
}

.wpmm-text-center {
    text-align: center;
}

.pr {
    height: 100%;
    overflow: scroll;
}

/* input-group */
.wpmm-input-group {
    position: relative;
    display: flex;
    align-items: stretch;
}

.wpmm-input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback)>*,
.wpmm-input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.wpmm-input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.wpmm-input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.wpmm-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #8c8c8c;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.wpmm-input-group>.form-control,
.wpmm-input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}


/* wpmm-form-check */
.wpmm-form-check {
    display: block;
    padding-left: 1.5em;
}

input.wpmm-form-check-input[type=checkbox]:checked::before {
    display: none;
}

.wpmm-form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #8c8c8c;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.wpmm-form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.wpmm-form-switch {
    padding-left: 0;
}

.wpmm-form-switch .wpmm-form-check-input {
    width: 2.7em !important;
    margin-right: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2em !important;
    transition: background-position .15s ease-in-out;
    background-repeat: no-repeat;
}

.wpmm-form-switch .wpmm-form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.wpmm-form-check-input:checked {
    background-color: #2271b1;
    border-color: #2271b1 !important;
}

/* modal */
.wpmm-modal {
    background: #f3f6f4;
    position: relative;
    color: #3c434a;
}

[type="button"].fa-close {
    background: none;
    border: 1px solid #555;
    cursor: pointer;
    color: #555;
    height: 20px;
    width: 24px;
    transition: all 300ms;
}

[type="button"].fa-close:hover {
    color: #f00;
    border-color: #f00;
}

.wpmm-row-column input[type=number] {
    max-width: 60px;
}

.wpmm-modal input[type=number] {
    padding-left: 5px;
    padding-right: 5px;
}

.wpmm-modal .wpmm-item-sidebar input[type=color] {
    max-width: 30px;
    height: 30px;
    cursor: pointer;
}

.wpmm-modal .wpmm-item-sidebar input:not([type="checkbox"]),
.wpmm-modal .wpmm-item-sidebar input[type=number],
.wpmm-modal .wpmm-item-sidebar select {
    height: 30px;
    font-size: 13px;
    width: 100%;
}

.wpmm-modal,
.wpmm-modal-dialog,
.wpmm-modal-content {
    height: 100%;
}

.wpmm-modal .wpmm-modal-title {
    margin: 0;
    font-size: 18px;
}

.wpmm-modal .wpmm-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wpmm-modal .wpmm-modal-content .wpmm-modal-header,
.wpmm-modal .wpmm-modal-content .wpmm-modal-footer {
    padding: 16px 20px;
    display: flex;
    background: #dedede;
}

.wpmm-space-between {
    justify-content: space-between;
}

.wpmm-justify-end {
    justify-content: end;
}

.wpmm-modal .wpmm-modal-body {
    overflow: hidden;
    height: 100%;
}

.wpmm-modal .wpmm-option-content {
    flex-grow: 1;
    overflow: hidden;
    padding: 10px;
    display: flex;
    padding-right: 0;
    height: 100%;
}

.wpmm-modal .wpmm-option-content .wpmm-item-sidebar {
    background: #ffffff;
    padding: 16px;
    box-shadow: 0px 2px 4px rgb(20 50 80 / 20%);
    border-radius: 5px;
    width: 230px;
    margin-right: 10px;
    overflow: hidden scroll;
}

.wpmm-modal .wpmm-option-content .wpmm-item-content {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 20px;
}

.wpmm-item-content .widget-content {
    padding: 1px 16px 16px;
}

.wpmm-item-content .widget-inside {
    border: none;
}

.wpmm-ml-3 {
    margin-left: 1.5em;
}

.wpmm-ml-5 {
    margin-left: 2em;
}

.wpmm-mr-2 {
    margin-right: 0.5em;
}

/* content area css */
.wpmm-add-row {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.wpmm-column-layout {
    cursor: pointer;
}

.wpmm-column-layout svg {
    fill: #3b434a;
}

.wpmm-add-slots {
    background: #fff;
    box-shadow: 0px 1px 20px 0px #22222254;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    display: none;
    margin: 20px auto 50px;
    left: 0;
    right: 0;
}

.wpmm-column-layout-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    background: rgba(2, 11, 83, 0.2);
    border: 1px solid transparent;
    border-radius: 7px;
    margin-bottom: 5px;
    transition: background-color 400ms, border-color 400ms, box-shadow 400ms;
}

.wpmm-column-layout:hover .wpmm-column-layout-preview {
    box-shadow: 0px 4px 4px rgba(115, 119, 155, 0.3);
}

.wpmm-column-layout:hover .wpmm-column-layout-preview,
.wpmm-column-layout.active .wpmm-column-layout-preview {
    background: rgba(51, 102, 255, 0.1);
    border: 1px solid rgba(51, 102, 255, 0.14);
}

.wpmm-columns-layout .wpmm-item-grid {
    grid-template-columns: auto auto auto auto;
}

.wpmm-row-sorting-icon {
    cursor: ns-resize;
}

.wpmm-custom-layout {
    display: none;
}

/* .wpmm-layout-row:not(:first-child){
    margin-top: 20px;
} */
.wpmm-layout-row {
    background: #fafafa;
    padding: 0 16px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgb(20 50 80 / 20%);
    border-radius: 5px;
}

.wpmm-row-toolbar {
    padding: 10px 0;
}

.wpmm-column-contents-wrapper {
    background: #ffffff;
    padding: 0 10px 10px;
    box-shadow: 0px 2px 4px rgb(20 50 80 / 20%);
    border-radius: 5px;
}

.wpmm-column-contents {
    min-height: 10px;
}

.wpmm-column-toolbar {
    padding: 10px 0;
}

.drop-highlight {
    margin-bottom: 10px;
}

.wpmm-item-settings-content .widget.wpmm-cell {
    margin-bottom: 10px;
    background: #fafafa;
    border: 1px dashed #dedede;
    transition: background-color 100ms linear;
}

.wpmm-item-settings-content .widget.wpmm-cell .widget-top {
    background: transparent;
    border: none;
    cursor: move;
    user-select: none;
}

.wpmm-cell.ui-sortable-helper {
    opacity: .9;
    transform: scale(.7);
}

.wpmm-col-sorting-icon {
    cursor: ew-resize;
}

.wpmm-col-sorting-icon:active {
    cursor: grab;
}

.wpmm-btn-link {
    border: none;
    background: none;
    cursor: pointer;
}

.wpmm-add-new-item {
    width: 100%;
    border: 1px dashed #dedede;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background: #fafafa;
    transition: background-color 100ms linear;
}

.wpmm-add-new-item:hover,
.wpmm-cell:hover {
    background: #e9e9e9;
}

.wpmm-item-widget-panel {
    position: absolute;
    border: 1px solid #ccc;
    background: #ffffff;
    box-shadow: 0px 24px 48px rgb(0 0 0 / 14%),
        0px 9px 66px rgb(0 0 0 / 12%),
        0px 11px 25px rgb(0 0 0 / 20%);
    width: 1000px;
    height: 500px;
    z-index: 10000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all 300ms;
}

.wpmm-modal * {
    box-sizing: border-box;
}

.wpmm-item-widget-panel .wpmm-modal .wpmm-modal-header {
    background: #ccc;
    padding: 16px;
}

.wpmm-widget-items {
    padding: 10px 16px;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
}

.wpmm-widget-items .widget {
    width: 100%;
    margin-bottom: 0;
}

.widget-list-item {
    box-shadow: 0 0 3px -1px #555;
    padding: 10px 20px;
    cursor: pointer;
    background: #ffffff;
    transition: all 300ms;
    border-radius: 5px;
}

.widget-list-item:hover {
    box-shadow: 0 0 5px -1px #555;
    background: #fafafa;
    text-shadow: 0 0 #555;
}

.widget-list-item:active {
    background: #eeeeee;
    transform: scale(.96);
}

.widget_search {
    padding: 10px 16px 0;
}

.widget_search input[type=search] {
    border-color: #ccc;
}

.wpmm-modal .widget-controls .clear{
    display: none;
}